@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@font-face {
  font-family: 'icomoon';
  src:  url('../../../assets/fonts/icomoon.eot');
  src:  url('../../../assets/fonts/icomoon.eot') format('embedded-opentype'),
        url('../../../assets/fonts/icomoon.ttf') format('truetype'),
        url('../../../assets/fonts/icomoon.woff') format('woff'),
        url('../../../assets/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}
.icon-address:before {
  content: "\e901";
}
.icon-trash:before {
  content: "\e902";
}
.icon-edit-pencil:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-cart:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e943";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
