// Font
$font-primary: 'Poppins', sans-serif;
$font-dancing: 'Dancing Script', cursive;

// Color
$color: (
  primary: #E09198,
  text-primary: #333333,
  text-secondary: #909090,
  white: #FFFFFF,
  black: #000000,
  bg-1: #F2F2F4
);

$font-size: (
  xs: 10px,
  sm: 12px,
  md: 14px,
  lg: 18px,
  xl: 22px,
  xxl: 28px,
  xxxl: 32px 
);
